{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
        .card-header{
        	color: white;
        	background-color: #4e8270;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Map of Romania</h5>
    <div class="card-body">
        

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5680167.355213491!2d20.463586171247965!3d45.96088823378666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff26958976c3%3A0x84ef4f92a804b194!2sRomania!5e0!3m2!1sen!2sro!4v1614092142414!5m2!1sen!2sro" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    
    </div>
</div>
</div>



{% endblock sidebar %}